@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');body{
    background: gray;
}
body{
    background: rgb(0,75,106);
background: radial-gradient(circle, rgba(0,75,106,1) 0%, rgba(0,51,71,1) 100%);
}
.calculator-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.phone{
    width: 375px;
    height: 812px;
    border: 5px solid black;
    background-color: #F0F0F0;
    border-radius: 40px;
    position: relative;
}
.top-line{
    width: 205px;
    background-color: black;
    border-radius: 0 0 20px 20px;
    height: 40px;
    display: block;
    position: absolute;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -407px);
}
    
.num-block{
    width: 374px;
    height: 423px;
    background-color: #F0F0F0;
    transform: translate(0px, 173px);
    border-radius: 0 0 35px 35px;
    padding-top: 15px;
}
.num-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.num-btn:hover{
    cursor: pointer;
}
.top-side{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 15px;
}
.bottom{
    justify-content: flex-end !important;
}
.buttons{
    background: #F0F0F0;
    box-shadow: -4px -4px 12px #FFFFFF, 4px 4px 12px rgba(209, 205, 199, 0.5);
    border-radius: 50%;
    border: none;
    width: 65px;
    height: 65px;
    position: relative;
}
.buttons:active{
    box-shadow: -1px 0px 7px #ffffff, 0px 0px 34px rgb(209 205 199 / 50%);
}
.buttons:hover{
    cursor: pointer;
}
.button-num{
    color: #808080;
    font-size: 27px;
}
.buttons.zero{
    margin-right: 29px;
}
.buttons.dot{
    margin-right: 29px;
}
.buttons.equals{
    margin-right: 14px;
}
.screen{
    color: black;
    position: absolute;
    right: 0;
    font-size: 50px;
    transform: translate(-13px, 90px);
    letter-spacing: 14px;
    font-weight: 700;
}
.swipe{
    position: absolute;
    bottom: 0;
    display: block;
    width: 162px;
    height: 5px;
    border-radius: 15px;
    background-color: black;
    transform: translate(-110px, 1px);
}
.right-block{
    display: flex;
    align-items: baseline;
    position: absolute;
    right: 0;
    transform: translate(-6px, 10px);
}
.right-block-top{
    display: flex;
    align-items: baseline;
    position: absolute;
    right: 0;
    transform: translate(-14px, -174px);
    justify-content: space-between;
    width: 68px;
}
.hour-block{
    position: absolute;
    left: 0;
    font-size: 14px;
    font-family: 'Anton', sans-serif;
    transform: translate(30px, -181px);
}
.phone-m{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.phone-background{
    height: 833px;
    background-color: #f0f0f0;
    width: 415px;
    position: absolute;
    transform: translate(-24px, -196px);
    z-index: -1;
    border-radius: 47px;
    box-shadow: 3px 0px 20px 2px white;
}
.disabledClass{
    pointer-events: none;
    opacity: 0.8;
}
